[user]
	name = sumanta23
	email = nandisumanta0@gmail.com
[core]
	excludesfile = /root/.gitignore
	autocrlf = true
[color]
	ui = true
[gui]
	encoding = utf-8
[diff]
	tool = vimdiff 
[difftool]
	prompt = false
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false    
[push]
	default = tracking
[color "diff"]
    meta = blue black bold
[alias]
    lg = log --graph --pretty=format:'%C(green)%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold red)<%an>%Creset' --abbrev-commit --date=relative
    lh = log --graph --oneline --decorate --all
    co = checkout
    br = branch
    gdiff= difftool --tool=vimdiff
[credential]
	helper = cache --timeout=3600
